  .ant-radio-button-wrapper {
    position: relative;
    display: inline-block;
    height: 53px;
    margin: 0;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 28px;
    line-height: 50px;
    background: #fff;
    border: 1px solid #fff;
    border-top-width: 1.02px;
    border-left-width: 0;
    cursor: pointer;
  }
  .ant-radio-button-wrapper > .ant-radio-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 1px;
    height: 100%;
    padding: 1px 0;
    background-color: #d9d9d9;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    content: '';
  }
  .ant-radio-button-wrapper:first-child {
    border-left: 1px solid #d9d9d9;
    border-radius: 2px 0 0 2px;
  }
  .ant-radio-button-wrapper:last-child {
    border-radius: 0 2px 2px 0;
  }
  .ant-radio-button-wrapper:first-child:last-child {
    border-radius: 2px;
  }
  .ant-radio-button-wrapper:hover {
    position: relative;
    color: rgb(235, 62, 75);;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #fff;
    background: rgb(235, 62, 75);
    border-color: rgb(235, 62, 75);
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #fff;
    background: rgb(235, 62, 75);;
    border-color: rgb(235, 62, 75);;
  }